*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@import url(./components/login.css);

@import url(./components/register.css);

@import url(./loading.css);

@import url(./messageErrors.css);